<!doctype html>
<html>
<head>
	<title>ET 801</title>

</head>
<body>
<div>
	<div class="main">
		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h1><span class="fa fa-user"></span>Output:</h1>
					<p>
						<%for(var i = 0; i < my_arr.length; i++){%>
						<%=my_arr[i]%> <br>
						<%}%>
					</p>
				
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>